
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link href="~/Style/StyleSheet.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Teko&family=Titillium+Web&display=swap" rel="stylesheet">
    <title>The Disc Dialogue</title>
</head>
<body>
    <header>
        <h1>The Disc Dialogue</h1>
    </header>
    <nav>
        <div class="nav-link">
            <a href="/Category/Index">Categories</a>
        </div>
        <div class="nav-link">
            <a href="/Content/Create">Create a Post</a>
        </div>
        <div class="nav-link">
            <a href="/Content/Index">All Posts</a>
        </div>
    </nav>
    <div class="banner-div">
        <img src="/Images/DGBanner2.jpg" alt="Disc Golf Basket" />
        <div>
            <p>Welcome to The Disc Dialogue - a blog about disc golf.</p>
            <p>Click on a link above to get started.</p>
        </div>
    </div>
    <footer>
        <p>&copy; Maureen Joyce 2020</p>
    </footer>
</body>
</html>
