@model IEnumerable<blog_template_practice.Models.Category>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link href="~/Style/StyleSheet.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Teko&family=Titillium+Web&display=swap" rel="stylesheet">
    <title>Category Index</title>
</head>
<body>
    <header class="home-header">
        <h1>Disc Golf Blog</h1>
    </header>
    <nav>
        <a href="#categories">Categories</a>
        <a href="/Content/Create">Create a Post</a>
        <a href="/Content/Index">All Posts</a>
    </nav>
    <div class="banner-div">
        <img src="/Images/DGBanner2.jpg" alt="Disc Golf Basket" />
        <p>Welcome to my blog. Disc Golf is my favorite sport. </p>
    </div>
    <div id="categories" class="categories">
        <h2>Category Index</h2>
        <div class="category-links">
            @foreach (var category in Model)
            {
                <div class="category-link">
                    <a href="/Category/Details/@category.Id">
                        <img src="/Images/@category.Image" />
                        <p>@category.Name</p>
                    </a>
                </div>
            }
        </div>
    </div>
    <footer>
        <p>&copy; Maureen Joyce 2020</p>
    </footer>
</body>
</html>

