@model IEnumerable<blog_template_practice.Models.Content>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Content Index</title>
    <link href="https://fonts.googleapis.com/css2?family=Teko&family=Titillium+Web&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Content Index</h1>
    <br />
    <p><a href="/Content/Create">Create a blog post</a></p>
    <p><a href="/Category/Index">Return to Category Index</a></p>

    @foreach (var content in Model)
    {
        <a href="/Content/Details/@content.Id">@content.Title</a>
        <p>@content.Author</p>
        <p>@content.PublishDate</p>
        <p><a href="/Content/Update/@content.Id">Edit post</a></p>
        <p><a href="/Content/Delete/@content.Id">Delete post</a></p>
        <hr />
    }

</body>
</html>